* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: var(--montserrat);
  color: var(--brown);
  font-size: 1rem;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
